:root {
  --header-bckgd-color: #474d64;
  --header-text-color: #d3df99;
  --player1-bckgd-color: #474d64;
  --player1-text-color: #8df099;
  --player2-bckgd-color: #a371c7;
  --player2-text-color: #474d64;
  --bckgd-color-main: #9d8ba3;
  --select-button-color: yellow;
  font-family: 'Inter', sans-serif;
  /* color: ; */
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bckgd-color-main);
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  color: var(--header-text-color);
  font-size: 3.4rem;
  text-align: center;
  padding: 2rem;
  margin: 0;
  background-color: var(--header-bckgd-color);
}
.container {
  display: flex;
  /* flex-flow: column wrap; */
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.51rem;
}

.container h1 {
  display: block;
  background-color: #aaeeb2;
  border-radius: 0.2rem;
  padding: 0 8rem;
  font-size: 1.7rem;
  color: #474d64;
  font-style: oblique;
  /* text-decoration: underline; */
  margin: 0.5rem;
  box-shadow: 1px 5px 5px 2px rgba(75, 81, 82, 0.2);
}

fieldset {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  border: none;
}

fieldset i {
  font-size: 3rem;
  color: #474d64;
  margin: 0 1.2rem;
}

section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

button {
  font-weight: 700;
  background-color: #474d64;
  color: #d3df99;
  align-self: flex-end;
  justify-content: center;
  cursor: pointer;
  border-radius: 999px;
  border: 2px solid var(--border-color);
  padding: 0.3rem 1rem;
  margin: 1rem;
}
button.hover {
  background-color: var(--select-button-color);
}

button.active {
  background-color: var(--select-button-color);
}

.game-buttons {
  display: none;
}

.lower {
  align-self: flex-end;
}
